@import "tailwindcss";

@utility centerChild {
  display: flex;
  justify-content: center;
  align-items: center;
}

@utility globeWrapper {
  width: 6rem;
  aspect-ratio: 1;
}

@utility globe {
  width: 100%;
  aspect-ratio: 1;
  border-radius: 50%;
  background-image: url(./assets/earth.jpg);
  background-repeat: repeat-x;
  background-size: 10rem;
  box-shadow:
    inset 0 0 1rem #888,
    0 0 1rem #888;
  animation: globeAnim 10s infinite linear;
}

@keyframes globeAnim {
  0% {
    background-position: 0 center;
  }
  100% {
    background-position: 1000% center;
  }
}
